
.main_menu_area .navbar.navbar-expand-lg {
    position: relative;
    padding: 0px;
    background-color: transparent !important;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand {
    position: absolute;
    left: 50%;
    top: 0px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-right: 0px;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand:after {
    content: "";
    background: url(../img/logo-circle-2.png) no-repeat scroll center center;
    height: 201px;
    width: 209px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -39px;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand img {
    z-index: 2;
    position: relative;
    margin-top: 35px;
    display: inline-block;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand img + img {
    display: none;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 40px;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li a {
    line-height: 85px;
    font-size: 18px;
    color: #454545;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    position: relative;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li a:before {
    content: "";
    width: 0px;
    height: 2px;
    background: #f195b2;
    position: absolute;
    bottom: -4px;
    left: 0px;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li a:after {
    display: none;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li:last-child {
    margin-right: 0px;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li:hover a,
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li.active a {
    color: #f195b2;
  }
  
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li:hover a:before,
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li.active a:before {
    width: 25px;
  }
  
  @media (min-width: 992px) {
    .main_menu_area
      .navbar.navbar-expand-lg
      .navbar-nav
      li.submenu
      .dropdown-menu {
      -webkit-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -webkit-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      transition: all 400ms ease-out;
      display: block;
      -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
      min-width: 250px;
      background: #ffffff;
      border-radius: 0px;
      border: none;
      padding: 0px;
      left: -40px;
      -webkit-box-shadow: none;
      box-shadow: none;
      visibility: hidden;
      margin-top: 0px;
      -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
    }
  }
  
  .main_menu_area
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li {
    margin-right: 0px;
    display: block;
  }
  
  .main_menu_area
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li
    a {
    display: block;
    line-height: 42px;
    color: #454545;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0px 30px;
    text-transform: inherit;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-weight: 600;
    text-shadow: none;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .main_menu_area
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li
    a:before {
    display: none;
  }
  
  .main_menu_area
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li:hover
    a {
    color: #fff;
    background: #f195b2;
  }
  
  .main_menu_area
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li:last-child
    a {
    border-bottom: 0px;
  }
  
  @media (min-width: 992px) {
    .main_menu_area
      .navbar.navbar-expand-lg
      .navbar-nav
      li.submenu
      .dropdown-menu
      .submenu
      .dropdown-menu {
      visibility: hidden;
      opacity: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      left: auto;
      right: 97%;
      top: 0px;
      -webkit-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
    }
  }
  
  .main_menu_area
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    .submenu
    .dropdown-menu
    li
    a {
    background: #fff;
    color: #242424;
  }
  
  .main_menu_area
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    .submenu
    .dropdown-menu
    li:hover
    a {
    background: #f195b2;
    color: #fff;
  }
  
  @media (min-width: 992px) {
    .main_menu_area
      .navbar.navbar-expand-lg
      .navbar-nav
      li.submenu
      .dropdown-menu
      .submenu:hover.submenu
      .dropdown-menu {
      visibility: visible;
      right: 100%;
      opacity: 1;
    }
  }
  
  @media (min-width: 992px) {
    .main_menu_area
      .navbar.navbar-expand-lg
      .navbar-nav
      li:hover.submenu
      .dropdown-menu {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      visibility: visible;
    }
  }
  
  .main_menu_two {
    position: relative;
    background: #fff;
  }
  
  .main_menu_two:before {
    content: "";
    background: url(../img/menu-draw.png) no-repeat scroll center center;
    height: 19px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -13px;
    z-index: 30;
  }
  
  .main_menu_two .navbar.navbar-expand-lg {
    padding: 0px;
    background-color: transparent !important;
  }
  
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav {
    width: 100%;
  }
  
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 40px;
  }
  
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li:last-child {
    margin-right: 0px;
  }
  
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li a {
    font-size: 17px;
    color: #454545;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 85px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li a:after {
    display: none;
  }
  
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li:hover a,
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li.active a {
    color: #f195b2;
  }
  
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li:hover a:before,
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li.active a:before {
    width: 25px;
  }
  
  @media (min-width: 992px) {
    .main_menu_two
      .navbar.navbar-expand-lg
      .navbar-nav
      li.submenu
      .dropdown-menu {
      -webkit-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -webkit-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      transition: all 400ms ease-out;
      display: block;
      -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
      min-width: 250px;
      background: #ffffff;
      border-radius: 0px;
      border: none;
      padding: 0px;
      left: -40px;
      -webkit-box-shadow: none;
      box-shadow: none;
      visibility: hidden;
      margin-top: 0px;
      -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
    }
  }
  
  .main_menu_two
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li {
    margin-right: 0px;
    display: block;
  }
  
  .main_menu_two
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li
    a {
    display: block;
    line-height: 42px;
    color: #454545;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 0px 30px;
    text-transform: inherit;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-weight: 600;
    text-shadow: none;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .main_menu_two
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li
    a:before {
    display: none;
  }
  
  .main_menu_two
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li:hover
    a {
    color: #fff;
    background: #f195b2;
  }
  
  .main_menu_two
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .dropdown-menu
    li:last-child
    a {
    border-bottom: 0px;
  }
  
  @media (min-width: 992px) {
    .main_menu_two
      .navbar.navbar-expand-lg
      .navbar-nav
      li.submenu
      .submenu
      .dropdown-menu {
      visibility: hidden;
      opacity: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      left: auto;
      right: 97%;
      top: 0px;
      -webkit-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
    }
  }
  
  .main_menu_two
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .submenu
    .dropdown-menu
    li
    a {
    background: #fff;
    color: #242424;
  }
  
  .main_menu_two
    .navbar.navbar-expand-lg
    .navbar-nav
    li.submenu
    .submenu
    .dropdown-menu
    li:hover
    a {
    background: #f195b2;
    color: #fff;
  }
  
  @media (min-width: 992px) {
    .main_menu_two
      .navbar.navbar-expand-lg
      .navbar-nav
      li.submenu
      .submenu:hover.submenu
      .dropdown-menu {
      visibility: visible;
      right: 100%;
      opacity: 1;
    }
  }
  
  @media (min-width: 992px) {
    .main_menu_two
      .navbar.navbar-expand-lg
      .navbar-nav
      li:hover.submenu
      .dropdown-menu {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      visibility: visible;
    }
  }
  